@model BugTrackerDataAccess.ViewModel.MyProjectsViewModel

@{
    ViewData["Title"] = "Create New Project";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create New Project</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">My Projects</li>
                        <li class="breadcrumb-item active">Create New Project</li>

                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form asp-action="CreateProject">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">Project Details</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Project.IDCode" class="control-label"></label>
                                <input asp-for="Project.IDCode" class="form-control" />
                                <span asp-validation-for="Project.IDCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.Name" class="control-label"></label>
                                <input asp-for="Project.Name" class="form-control" />
                                <span asp-validation-for="Project.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.Description" class="control-label"></label>
                                <input asp-for="Project.Description" class="form-control" />
                                <span asp-validation-for="Project.Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Project.ProjectManagerUserID" class="control-label">Add a Project Manager</label>
                                <select asp-for="Project.ProjectManagerUserID" multiple class="form-control" style="width: 100%;">
                                    @foreach (var item in Model.Project.ProjectManagerList)
                                    {
                                        <option value="@item.ID">@item.UserName, @item.ID</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Add Files</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-green">
                        <div class="card-header">
                            <h3 class="card-title">Assign Users</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <label asp-for="Project.AddUsers" class="control-label">Assign Users To Project</label>
                            <select asp-for="Project.AddUsers" multiple class="form-control" style="width: 100%;">
                                @foreach (var item in Model.UserList)
                                {
                                    <option value="@item.ID">@item.UserName</option>
                                }
                            </select>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a> |
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
