@model BugTrackerDataAccess.ViewModel.MyProjectsViewModel
@{
    ViewData["Title"] = "My Projects";
}




<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | DataTables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js" defer></script>


</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                        <h1>My Projects</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">My Projects</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        @*Button for new project*@

                        @if (User.IsInRole("Admin"))
                        {
                        <div>
                            <a href="@Url.Action("CreateProject", "MyProjects", new { })" class="btn btn-sm btn-danger">
                                Create New Project
                            </a>
                        </div>
                        }
                        <br />
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Details</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- /.card -->
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Assigned Projects</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="ProjectsTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>IDCode</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Project Manager</th>
                                            @*<th>Num. Users</th>
                            <th>Num. Issues</th>*@
                                            <th>Created</th>
                                            <th>Updated</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ProjectList)
                                        {
                                            <tr>
                                                <td>@item.IDCode</td>
                                                <td>@item.Name</td>
                                                <td>@item.Description</td>
                                                <td>
                                                    @item.ProjectManagerUserName
                                                    @item.ProjectManagerUserID
                                                </td>
                                                @*<td>@item.NumUsers<td>*@
                                                @*<td>@item.NumIssues</td>*@
                                                <td>@item.Created</td>
                                                <td>@item.Updated</td>
                                                <td>    
                                                    @if (User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                                    {
                                                    <a href="@Url.Action("ViewProject", "MyProjects", new { IDCode = item.IDCode })" class="btn btn-sm btn-secondary">
                                                        View
                                                    </a>
                                                    }
                                                    else
                                                    {
                                                    <a href="@Url.Action("Index", "ProjectManagement", new { IDCode = item.IDCode })" class="btn btn-sm btn-secondary">
                                                        View
                                                    </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- page script -->
    <script>
        $(document).ready(function () {
            $("#ProjectsTable").DataTable();
        });
    </script>
</body>
</html>