@model BugTrackerDataAccess.ViewModel.ProjectManagementViewModel
@{
    ViewData["Title"] = "Project Management";
}




<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | DataTables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE_theme/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE_theme/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


    <!-- jQuery -->
    @*<script src="~/AdminLTE_theme/plugins/jquery/jquery.min.js"></script>*@

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@


    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js" defer></script>


    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js" defer></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>

    <!-- Bootstrap 4 -->
    @*<script src="~/AdminLTE_theme/plugins/bootstrap/js/bootstrap.bundle.min.js" defer></script>*@



    <!-- DuallistBox -->
    <link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.1/bootstrap-duallistbox.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.1/jquery.bootstrap-duallistbox.min.js" defer></script>




</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                            
                        <h1>Project Management: @Html.DisplayFor(modelItem => Model.Project.Name ) </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Project Management</li>
                            <li class="breadcrumb-item active">@Html.DisplayFor(modelItem => Model.Project.Name)</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-4">
                        @*SELECTING PROJECT*@
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Select Project</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form asp-action="GetProjectById">
                                    <div class="form-group">
                                        @*<label asp-for="Project.IDCode" class="control-label">Select Project</label>*@
                                        <select id="yeet" asp-for="Project.IDCode" class="form-control" style="width: 100%;">
                                            <option value="" disabled selected>Please Select A Project</option>
                                            @foreach (var item in Model.ProjectList)
                                            {
                                                <option value="@item.IDCode">@item.IDCode</option>
                                            }
                                        </select>
                                        <br />
                                        <button type="submit" class="btn btn-success btn-block">Select</button>
                                        @*@Html.ActionLink("Add Issue", "CreateIssue", new { ProjectIDCode = Model.Project.IDCode })*@
                                        @*@Html.ActionLink("Add Project", "CreateProject", new { })*@
                                        @*@Html.ActionLink("Edit Project Details", "UpdateProjectDetails", new { IDCode = Model.Project.IDCode })*@


                                    </div>
                                </form>
                                <a href="@Url.Action("CreateProject", "ProjectManagement", new { })" class="btn btn-sm btn-primary">
                                    Add New Project
                                </a>
                            </div>
                        </div>

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Project Details</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="text-primary"><i class="fas fa-paint-brush"></i> @Html.DisplayFor(modelItem => Model.Project.Name)</h3>
                                <p class="text-muted">ID Code: @Html.DisplayFor(modelItem => Model.Project.IDCode)</p>
                                <p class="text-muted">@Html.DisplayFor(modelItem => Model.Project.Description)</p>
                                <br>
                                <div class="text-muted">
                                    <p class="text-sm">
                                        Project Manager
                                        <b class="d-block">@Html.DisplayFor(modelItem => Model.Project.ProjectManager.UserName)</b>
                                    </p>
                                </div>
                                <div class="text-muted">
                                    <p class="text-sm">
                                        Date Created
                                        <b class="d-block">@Html.DisplayFor(modelItem => Model.Project.Created)</b>
                                    </p>
                                </div>
                                <div class="text-muted">
                                    <p class="text-sm">
                                        Last Updated
                                        <b class="d-block">@Html.DisplayFor(modelItem => Model.Project.Updated)</b>
                                    </p>
                                </div>

                                <div class="text-center mt-5 mb-3">

                                    <a href="@Url.Action("UpdateProjectDetails", "ProjectManagement", new {  IDCode = Model.Project.IDCode })" class="btn btn-sm btn-primary">
                                        Edit Project Details
                                    </a>

                                    <a href="@Url.Action("CreateIssue", "ProjectManagement", new {   ProjectIDCode = Model.Project.IDCode })" class="btn btn-sm btn-danger">
                                        Add New Issue
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Edit Assignment</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- form start -->
                                <form asp-action="UpdateProjectAssignment">

                                    <div class="form-group">
                                        @*SET SELECTED PROJECT FOR THIS FORM*@
                                        <select id="selectedProject" asp-for="Project.IDCode">
                                            <option value="@Model.Project.IDCode" selected></option>
                                        </select>

                                        <label asp-for="Project.AddUsers" class="control-label">Assign Users To Project</label>
                                        <select asp-for="Project.AddUsers" multiple class="form-control" style="width: 100%;">
                                            @foreach (var item in Model.UsersNotAssignedList)
                                            {
                                                <option value="@item.ID">@item.UserName</option>
                                            }
                                        </select>
                                        <br />
                                        <label asp-for="Project.RemoveUsers" class="control-label">Remove Users From Project</label>
                                        <select asp-for="Project.RemoveUsers" multiple class="form-control" style="width: 100%;">
                                            @foreach (var item in Model.UsersAssignedList)
                                            {
                                                <option value="@item.ID">@item.UserName</option>
                                            }
                                        </select>
                                        <br />
                                        <button type="submit" class="btn btn-danger btn-block">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-8">
                        <div class="card card-danger">
                            <div class="card-header">
                                <h3 class="card-title">Issues</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="IssuesTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Submitter</th>
                                            <th>Created</th>
                                            <th>Updated</th>
                                            <th>Actions</th>

                                            @*<th>Assignments</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Project.Issues)
                                        {
                                            <tr>
                                                <td>@item.IDCode</td>
                                                <td>@item.Title</td>
                                                <td>@item.Status</td>
                                                <td>@item.Submitter</td>
                                                <td>@item.Created</td>
                                                <td>@item.Updated</td>
                                                @*<td>@item.NumUsers</td>*@
                                                <td>
                                                    @Html.ActionLink("Update", "UpdateIssue", new { IDCode = item.IDCode })
                                                    @*@Html.ActionLink("Delete", "ConfirmDelete", new { id = item.UserID })*@
                                                    @Html.ActionLink("Details", "ViewIssue", new { IDCode = item.IDCode })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Assigned Users</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="AssignedUsersTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Num. Projects</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.UsersAssignedList)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.UserName</td>
                                                <td>@item.Email</td>
                                                <td>@item.Role</td>
                                                <td>@item.NumProjects</td>
                                                @*<td>
                                    @Html.ActionLink("Update", "Update", new { id = item.UserID })
                                    @Html.ActionLink("Delete", "ConfirmDelete", new { id = item.UserID })
                                    @Html.ActionLink("Details", "GetUserById", new { id = item.UserID })
                                </td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- page script -->
    <script>
        $(document).ready(function () {
            $("#IssuesTable").DataTable();
            $("#AssignedUsersTable").DataTable();

            ////Initialize Select2 Elements
            //$('.select2').select2();
            //$("#select2").select2();


            //Initialize Select2 Elements
            //$('.select2').select2()


            //x = ("#yeet").select2().val();
            //console.log(x)

            //Bootstrap Duallistbox
            //$('.duallistbox').bootstrapDualListbox()
            var SelectedProject = document.getElementById("selectedProject");
            SelectedProject.style.display = "none";

        });


    </script>
</body>
</html>