@model BugTrackerDataAccess.ViewModel.ProjectManagementViewModel

@{
    ViewData["Title"] = "Update Issue";
}


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | DataTables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- jQuery -->
    @*<script src="~/AdminLTE_theme/plugins/jquery/jquery.min.js"></script>*@

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@

</head>
<body class="hold-transition sidebar-mini">



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    <h1>Update Issue: @Model.Issue.IDCode | @Model.Issue.Title</h1>
                    <h1></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Project Management</li>
                            <li class="breadcrumb-item active">@Model.Issue.ProjectIDCode</li>
                            <li class="breadcrumb-item active">Update Issue</li>
                            <li class="breadcrumb-item active">@Model.Issue.IDCode</li>

                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">

                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Issue Details</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form asp-action="UpdateIssue">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    @*PRE-SELECTED ATTRIBUTES*@
                                    <div class="form-group">
                                        <select id="Submitter" asp-for="Issue.Submitter">
                                            <option value="@Model.Issue.Submitter" selected="selected">@Model.Issue.Submitter</option>
                                            @*<option value="@User.Identity.Name" selected="selected">@Model.Issue.Submitter</option>*@

                                        </select>
                                        <select id="Project" asp-for="Issue.ProjectIDCode">
                                            <option value="@Model.Issue.ProjectIDCode" selected="selected">@Model.Issue.ProjectIDCode</option>
                                        </select>
                                        <select id="IDCode" asp-for="Issue.IDCode">
                                            <option value="@Model.Issue.IDCode" selected="selected">@Model.Issue.IDCode</option>
                                        </select>
                                        <select id="Users" asp-for="Issue.Users">
                                            @foreach (var item in Model.Issue.Users)
                                            {
                                                <option value="@item" selected="selected">@Model.Issue.Users</option>

                                            }
                                        </select>
                                        <select id="Title" asp-for="Issue.Title">
                                            <option value="@Model.Issue.Title" selected="selected">@Model.Issue.Title</option>
                                        </select>
                                    </div>

                                    @*SELECTIONS THAT THE USER CAN CHANGE*@
                                    @*<div class="form-group">
            <label asp-for="Issue.Title" class="control-label"></label>
            <input asp-for="Issue.Title" class="form-control" />
            <span asp-validation-for="Issue.Title" class="text-danger"></span>
        </div>*@
                                    <div class="form-group">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label asp-for="Issue.Status" class="btn btn-success">
                                                <input value="OPEN" type="radio" asp-for="Issue.Status"> OPEN
                                            </label>
                                            <label asp-for="Issue.Status" class="btn btn-warning">
                                                <input value="DEVELOPMENT" type="radio" asp-for="Issue.Status"> DEVELOPMENT
                                            </label>
                                            <label asp-for="Issue.Status" class="btn btn-danger">
                                                <input value="CLOSED" type="radio" asp-for="Issue.Status"> CLOSED
                                            </label>
                                        </div>
                                    </div>


                                    @*<div class="form-group">
                                        <label asp-for="Issue.Status" class="control-label"></label>
                                        <input asp-for="Issue.Status" class="form-control" />
                                        <span asp-validation-for="Issue.Status" class="text-danger"></span>
                                    </div>*@
                                    <div class="form-group">
                                        <label asp-for="Issue.Description" class="control-label"></label>
                                        <input asp-for="Issue.Description" class="form-control" />
                                        <span asp-validation-for="Issue.Description" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">

                                        <label asp-for="Issue.AddUsers" class="control-label">Assign Users To Project</label>
                                        <select asp-for="Issue.AddUsers" multiple class="form-control" style="width: 100%;">
                                            @foreach (var item in Model.UsersNotAssignedList)
                                            {
                                                <option value="@item.ID">@item.UserName</option>
                                            }
                                        </select>
                                        <br />
                                        <label asp-for="Issue.RemoveUsers" class="control-label">Remove Users From Project</label>
                                        <select asp-for="Issue.RemoveUsers" multiple class="form-control" style="width: 100%;">
                                            @foreach (var item in Model.UsersAssignedList)
                                            {
                                                <option value="@item.ID">@item.UserName</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a> |
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- page script -->
    <script>
        $(document).ready(function () {

            var Submitter = document.getElementById("Submitter");
            Submitter.style.display = "none";

            var Project = document.getElementById("Project");
            Project.style.display = "none";

            var IDCode = document.getElementById("IDCode");
            IDCode.style.display = "none";

            var Users = document.getElementById("Users");
            Users.style.display = "none";
            
            var Title = document.getElementById("Title");
            Title.style.display = "none";
        });


    </script>
</body>
</html>