@model BugTrackerDataAccess.ViewModel.MyIssuesViewModel
@{
    ViewData["Title"] = "My Issues";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | DataTables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> 

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js" defer></script>

</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>My Issues</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">My Issues</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        @*Button for new issue*@
                        @if (@Model.UserHasProjects == true)
                        {
                            <div>
                                <a href="@Url.Action("CreateIssue", "MyIssues", new { })" class="btn btn-sm btn-danger">
                                    Create New Issue
                                </a>
                            </div>
                        }


                        <br />

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Details</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                        </div>
                        <!-- /.card -->
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Assigned Issues</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="IssuesTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>IDCode</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Description</th>
                                            <th>Submitter</th>
                                            <th>Project</th>
                                            <th>Created</th>
                                            <th>Updated</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.IssueList)
                                        {
                                            <tr>
                                                <td>@item.IDCode</td>
                                                <td>@item.Title</td>
                                                <td>@item.Status</td>
                                                <td>@item.Description</td>
                                                <td>@item.Submitter</td>
                                                <td>@item.ProjectIDCode</td>
                                                <td>@item.Created</td>
                                                <td>@item.Updated</td>
                                                <td>
                                                    @if (!User.IsInRole("Submitter"))
                                                    {
                                                        <a href="@Url.Action("UpdateIssue", "MyIssues", new {IDCode = item.IDCode})" class="btn btn-sm btn-primary">
                                                            Update
                                                        </a>
                                                    }
                                                    <a href="@Url.Action("ViewIssue", "MyIssues", new {IDCode = item.IDCode})" class="btn btn-sm btn-secondary">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>                
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- page script -->
    <script>
        $(document).ready(function () {
            $("#IssuesTable").DataTable();
        });


    </script>
</body>
</html>