@model BugTrackerDataAccess.Models.Issue

@{
    ViewData["Title"] = "View Issue";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Issue: @Model.IDCode | @Model.Title</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">My Issues</li>
                        <li class="breadcrumb-item active">View Issue</li>
                        <li class="breadcrumb-item active">@Model.IDCode</li>


                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">Issue Details</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.IDCode)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IDCode)
                            </dd>
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Submitter)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Submitter)
                            </dd>
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Updated)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Updated)
                            </dd>
                            <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.ProjectIDCode)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ProjectIDCode)
                            </dd>
                            </dl>
                        </div>

                    </div>

                    <div>
                        <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
                        @if (!User.IsInRole("Submitter"))
                        {

                            <a href="@Url.Action("UpdateIssue", "MyIssues", new { IDCode = Model.IDCode })" class="btn btn btn-primary">
                                Update
                            </a>
                        }
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">Attachments</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.ScreenshotArray)" width="500" height="400" />
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->