@model BugTrackerDataAccess.ViewModel.AccountViewModel

@{
    ViewData["Title"] = "Account";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Account</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Account</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                @if (@Model.User.AccountImageString == null && @Model.User.AccountImageArray == null)
                                {
                                    <img class="profile-user-img img-fluid img-circle" src="@Model.User.AccountImageDefault" alt="User profile picture">
                                }
                                else
                                {
                                    <img class="profile-user-img img-fluid img-circle" src="data:image;base64,@Model.User.AccountImageString" alt="User profile picture">
                                }



                                @*<img class="profile-user-img img-fluid img-circle" src="@Model.User.AccountImageString" alt="User profile picture">*@


                                @*<img class="profile-user-img img-fluid img-circle"
        src="@Model.User.AccountImageString"
        alt="User profile picture">*@
                                @*<img src="data:image;base64,@Model.User.AccountImageString" width="500" height="400" />*@

                            </div>

                            <h3 class="profile-username text-center">@User.Identity.Name</h3>

                            <p class="text-muted text-center">@Model.User.Role</p>

                            <b>IDCode: </b> <a class="float-none">@Model.User.ID</a>
                            <br />
                            <b>Email: </b> <a class="float-none">@Model.User.Email</a>

                            @*<ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Followers</b> <a class="float-right">1,322</a>
            </li>
            <li class="list-group-item">
                <b>Following</b> <a class="float-right">543</a>
            </li>
            <li class="list-group-item">
                <b>Friends</b> <a class="float-right">13,287</a>
            </li>
        </ul>*@


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- Default box -->
                    @*<div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Title</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            Start creating your amazing application!
                        </div>*@
                    <!-- /.card-body -->
                    @*<div class="card-footer">
                            Footer
                        </div>*@
                    <!-- /.card-footer-->
                    @*</div>*@
                    <!-- /.card -->

                </div>
                <!-- /.col -->

                <div class="col-md-9">
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                            <div class="card-tools">
                                <a href="@Url.Action("UpdateAccount", "Account", new {   ID = Model.User.ID })" class="btn btn-sm btn-secondary">
                                    Update Details
                                </a>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <strong><i class="fas fa-book mr-1"></i> About</strong>
                            <p class="text-muted">@Model.User.About</p>

                            <hr>
                            <strong><i class="fas fa-book mr-1"></i> Skills</strong>
                            <p class="text-muted">@Model.User.Skills</p>

                            <hr>
                            <strong><i class="fas fa-book mr-1"></i> Education</strong>
                            <p class="text-muted">@Model.User.Education</p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">@Model.User.Location</p>

                            <hr>

                            <strong><i class="fas fa-pencil-alt mr-1"></i> DOB</strong>
                            <p class="text-muted">@Model.User.DOB</p>

                            @*<hr>

                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>*@



                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>

            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
